.advantages {
    padding-top: 54px;

    &__title {
        margin-bottom: 34px;
    }

    &__items {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        gap: 31px;
        @media (max-width: 992px) {
                flex-direction: column;
        }

        &-all {
            background: #F4F4F4;
            border-radius: 5px;
            min-height: 94px;
            // padding: 23px 60px;
            display: flex;
            align-items: center;
            align-content: center;
            flex-direction: row;
            gap: 33px;
            width: 100%;
            justify-content: center;
            left: 20px;
            padding-left: 20px;
            padding-right: 20px;
            h4 {
                font-weight: 700;
                font-size: 18px;
                line-height: 23px;

                color: #000000;
            }

            h5 {
                font-weight: 400;
                font-size: 16px;
                line-height: 21px;

                color: #000000;
            }
        }
    }
}